
.component{
    background-color: var(--light-navy);
}

.container_projects {
    display: flex;
    flex-direction: column;
    width: 60%;
    border-radius: 10px;
}

.project {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 50px 10px;
}



.img{
    width: 600px;
    height: 300px;
    object-fit: cover;
    /* border-radius: 5px; */
}



.heading {
    color: var(--lightest-slate);
    font-family: var(--font-sans);
    font-size: var(--fz-heading);
    font-weight: 600;
    cursor: pointer;
    margin-left: 12px;
}

.heading:hover {
    color: var(--green);
}

.desc_pro {
    background-color: var(--light-navy);
    /* box-shadow: 0 10px 30px -15px var(--navy-shadow); */
    color: var(--light-slate);
    font-family: var(--font-sans);
    line-height: 20px;
    font-size: var(--fz-md);
    /* padding: 20px; */
    margin-left: 12px;
    z-index: 2;
    width: 100%;
    /* border-radius: 5px; */
}

.skill_container {
    font-size: var(--fz-sm);
    margin-bottom: 20px;
    display: flex;
}

.skill_p {
     margin: 0;
    margin-left: 12px;
    color: var(--lightest-slate);
    /* color: aliceblue;  */
}




.link {
    cursor: pointer;
    margin-left: 12px;
    padding-right:  50px ;
    background-color: var(--light-navy);
    width: 100%;
}

.link:hover {
    color: var(--green);
}